/*-----------------------------------------------------------------------------------------------------------------------
-------------| BARRA DE NAVEGACION
-----------------------------------------------------------------------------------------------------------------------*/

.document-navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
    height: var(--height-navbar);
    background-color: var(--color-white-variation);
    box-shadow: 0px -5px 20px 0px var(--color-gray-variation);
}

.document-navbar > .main-content-navbar {
    width: var(--current-document-width);
    margin: auto;
    display: grid;
    max-width: var(--max-width);
    grid-template-columns: 200px 1fr;
}

.document-navbar_left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: var(--height-navbar);
}

.document-navbar_name {
    text-align: center;
    letter-spacing: 7px;
    color: var(--color-black-variation);
}

.document-navbar_subname {
    text-align: center;
    letter-spacing: 2px;
    color: var(--color-black-variation);
}

.document-navbar_right {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.document-navbar_element {
    position: relative;
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-content);
    text-decoration: none;
    cursor: pointer;
    border-radius: var(--rounded);
    color: var(--color-black);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.document-navbar_movile-menu .document-navbar_element {
    background-color: var(--color-black);
    color: var(--color-white-variation);
}

.document-navbar_element:hover {
    background-color: var(--color-black);
    color: var(--color-white-variation);
}

.document-navbar_movile {
    display: none;
}

.document-navbar_movile-button {
    width: 40px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: var(--space-sm);
    border-radius: var(--rounded);
    background-color: var(--color-white);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.document-navbar_movile-button img {
    width: 100%;
    height: auto;
}

.document-navbar_movile-menu {
    width: 300px;
    height: 100vh;
    position: fixed;
    right: 0px;
    top: var(--height-navbar);
    list-style: none;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: var(--space-md);
    background-color: var(--color-white-variation);
    box-shadow: 5px 20px 20px 0px var(--color-gray-variation);
    display: none;
}
.document-navbar_movile-menu.show {
    display: flex;   
}

.document-navbar_desktop-submenu-button {
    position: relative;
}
.document-navbar_desktop-submenu-button.active {
    background-color: var(--color-black);
    color: var(--color-white-variation);
}
.document-navbar_desktop-submenu {
    position: absolute;
    width: 300px;
    top: 45px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    text-decoration: none;
    padding: var(--space-xm);
    border-radius: var(--rounded);
    background-color: var(--color-white-variation);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,.3);
    display: none;
}
.document-navbar_desktop-submenu.show {
    display: flex;
}
.document-navbar_desktop-submenu .document-navbar_element {
    height: 30px;
    width: 100% !important;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: var(--space-sm);
    font-size: var(--text-description);
}

.document-navbar_movile-submenu {
    display: none;
}
.document-navbar_movile-submenu.show {
    display: block;
}

.document-navbar_movile-submenu .document-navbar_element {
    height: 30px;
    width: 100% !important;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-left: var(--space-sm);
    font-size: var(--text-description);
    color: var(--color-black);
    background-color: var(--color-white);
}

/*-----------------------------------------------------------------------------------------------------------------------
-------------| BOTONES DE LA APP
-----------------------------------------------------------------------------------------------------------------------*/

.main-button {
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    font-size: var(--text-content);
    text-align: center;
    padding: var(--space-sm);
    border-radius: var(--rounded);
    color: var(--color-main-on);
    background-color: var(--color-main);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.delete-button {
    cursor: pointer;
    margin: auto;
    font-size: var(--text-description);
    padding: 0px var(--space-sm);
    border-radius: var(--rounded);
    color: var(--color-white-variation);
    background-color: var(--color-red);
}

/*-----------------------------------------------------------------------------------------------------------------------
-------------| SECCIONES CON IMAGEN
-----------------------------------------------------------------------------------------------------------------------*/

.section-text-image {
    display: grid;
    gap: var(--space-xb);
    grid-template-columns: 10fr 6fr;
    box-sizing: border-box;
}

.section-image-text {
    display: grid;
    gap: var(--space-xb);
    grid-template-columns: 6fr 10fr;
}

.section-text-image_image, .section-text-image_text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.justify-flex-start {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.section-text-image_image img {
    width: 100%;
    height: auto;
    border-radius: var(--rounded);
}


/*-----------------------------------------------------------------------------------------------------------------------
-------------| SECCIONES CON OPCIONES OCULTAS
-----------------------------------------------------------------------------------------------------------------------*/

.business-points_option {
    width: 100%;
    margin-bottom: var(--space-md);
}

.business-points_title {
    display: block;
    padding: var(--space-sm);
    cursor: pointer;
    color: var(--color-main-on);
    background-color: var(--color-main);
    border-radius: var(--rounded) var(--rounded) 0px 0px;
}

.business-points_description {
    padding: var(--space-sm);
    border-radius: 0px 0px var(--rounded) var(--rounded);
    border: 1px solid var(--color-main);
    display: none;
}
.business-points_description.show {
    display: block;
}


/*-----------------------------------------------------------------------------------------------------------------------
-------------| ESTILO A FORMULARIO DE LOGIN
-----------------------------------------------------------------------------------------------------------------------*/

.form-login {
    width: 300px;
}

.input-form {
    width: 100%;
    box-sizing: border-box;
    padding: var(--space-sm);
    outline: none;
    border-radius: var(--rounded);
    border: solid 1px var(--color-gray-variation);
    background-color: var(--color-white-variation);
}

.input-form:focus {
    border: solid 1px var(--color-main);
}

.textarea-sm {
    resize: none;
    width: 100%;
    height: 65px;
}

.textarea-md {
    resize: none;
    width: 100%;
    height: 200px;
}


/*-----------------------------------------------------------------------------------------------------------------------
-------------| ESTILO A LAYOUT
-----------------------------------------------------------------------------------------------------------------------*/

.layout-2cols-min300px {
    display: grid;
    gap: var(--space-bg);
    grid-template-columns: 1fr 1fr;
}

.layout-1fr300px-300px {
    display: grid;
    gap: var(--space-xb);
    grid-template-columns: 1fr 300px;
}


/*-----------------------------------------------------------------------------------------------------------------------
-------------| ESTILO A LAYOUT
-----------------------------------------------------------------------------------------------------------------------*/

.wrap-targets {
    display: grid;
    gap: var(--space-md);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.simple-target {
    position: relative;
    padding: var(--space-sm);
    border-radius: var(--rounded);
    border: solid 1px var(--color-white);
    background-color: var(--color-white-variation);
}

.simple-target_image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    position: relative;
}

.simple-target_body {
    display: block;
    width: 100%;
    position: relative;
}

.article-content {
    width: 100%;
    position: relative;
}

.article-content_image {
    width: 100%;
    height: auto;
    border-radius: var(--rounded);
}

.article-content_body br:nth-child(2n) {
    display: none;
}

.presentation-card {
    position: relative;
}

.presentation-card_image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
}